{{define "head"}}
<style>

</style>
{{end}} {{define "content"}}


<section class="section">
    <div class="container">
        <duv class="columns is-mobile is-centered">
            <div class="column ">
                <div class="box">
                    <h1 class="title">
                        Slug
                    </h1>
                    <p>Fb</p>
                </div>
            </div>
            <div class="column ">
                <div class="box">
                    <h1 class="title">
                        Count
                    </h1>
                    <p>
                        10
                    </p>
                </div>
            </div>

        </duv>
        <div class="columns">
            <div class="column is-four-fifths">

                <table class="table is-striped is-fullwidth is-hoverable">
                    <thead>
                        <th>#</th>
                        <th>Slug</th>
                        <th>Url</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>fb</td>
                            <td>http://facebook.com</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>fb</td>
                            <td>http://facebook.com</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

{{end}}